* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(62,62,62,1) 100%);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
}

.app-container {
  margin: 20px;
  display: flex;
  height: 95%;
  width: 95%;
}

.app-container>* {
  flex: none;
  width: 100%;
}

.form-container {
  margin-right: 20px;
  width: 25%;
  height: 95%;
  background-color: #f0f5ff;
  padding: 40px;
  border-radius: 5px;
}

.table-container {
  width: 75%;
}

.app-section {
  background-color: #f0f5ff;
  padding: 20px;
  border-radius: 5px;
}


.app-section h2,
.form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}


table {

  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

input,
select,
button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  color: white;
  margin: 20px 0;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  margin-top: 20px;
  padding: 4px;
  align-items: center;
}

.form-group label {
  width: 120px;
  text-align: left;
  margin-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="number"] {
  border: 1px solid #ddd;
}

fieldset {
  border: none;
  margin: 15px 0;
  padding: 10px;
}

legend {
  font-weight: bold;
  padding: 5px;
}

button[type="submit"] {
  background-color: #007c92;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #006f83;
}